* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1d800;
}

img {
  width: 150px; 
  height: 150px; 
  object-fit: cover;

}

#title {
  width: 400px; 
  
}

h2 {
  font-size: 52px;
  text-align: right;
  margin-top: 15px; 
}

#navbar {
  display: flex;
  
}

ul {
  display: flex;
  align-items: flex-end;
}

li {
  list-style: none;
  margin-right: 60px;
  margin-bottom: 20px;
  font-size: 20px;
  
}

#logo {
  width: 150px;
}

#header{
  display: flex;
  justify-content: space-evenly;
  background-color:	#dba24a;
  color: 		#e1d800;
}

h1 {
  text-align: center;
  margin-top: 30px;
}


button {
  background-color: 	#e12301;
  color: white;
  margin-top: 10px;
  border-style: none;
  border-radius: 20px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}


#catering-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.event-div {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  h2 {
    font-size: 32px;
    text-align: left;
  }

  h1 {
    font-size: 24px;
  }

  li {
    font-size: 14px;
    margin-right: 5px;
  }

  #title {
    width: 200px; 
  }

  .event-div {
    width: 350px;
  }
  
  #catering-events {
    margin-left: 50px;
  }
}