* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1d800;
}

img {
  width: 150px; 
  height: 150px; 
  object-fit: cover;

}

#title {
  width: 400px; 
  
}

h2 {
  font-size: 52px;
  text-align: right;
  margin-top: 15px; 
}

#navbar {
  display: flex;
  
}

ul {
  display: flex;
  align-items: flex-end;
}

li {
  list-style: none;
  margin-right: 60px;
  margin-bottom: 20px;
  font-size: 20px;
  
}

#logo {
  width: 150px;
}

#header{
  display: flex;
  justify-content: space-evenly;
  background-color:	#dba24a;
  color: 		#e1d800;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.order-section{
  display: grid; 
  grid-template-columns: 250px 250px;
  justify-content: center;
}

.order-squares {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.order-pic {
  border-radius: 50%;
}

button {
  background-color: 	#e12301;
  color: white;
  margin-top: 10px;
  border-style: none;
  border-radius: 20px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}