* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1d800;
}



img {
  width: 150px; 
  

}

#title {
  font-size: 64px;
  width: 400px;
  margin-left: 60px;
}

ul {
  display: flex;
  
}

li {
  list-style: none;
  margin-right: 60px;
  margin-top: 30px;
  font-size: 20px;
}

#logo {
  width: 150px;
}

#header{
  display: flex;
  justify-content: space-between;
  background-color:	#dba24a;
  color: 		#e1d800;
}

h1 {
  text-align: center;
}

.order-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
}

.order-squares {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

button {
  background-color: 	#e12301;
  color: white;
  margin-top: 10px;
  border-style: none;
  border-radius: 20px;
  padding: 10px;
}